---
Language: Cpp
BasedOnStyle: LLVM
AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: None
BreakConstructorInitializers: AfterColon
ColumnLimit: 0
DerivePointerAlignment: false
EmptyLineBeforeAccessModifier: Always
IndentWidth: 4
PointerAlignment: Left
SpacesInParentheses: true
SpacesInSquareBrackets: true
